<ul>
  <% if ::Refinery::ProjectMenus::Admin::ProjectMenusController.searchable? %>
    <li>
      <%= render '/refinery/admin/search', :url => refinery.project_menus_admin_project_menus_path %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), refinery.new_project_menus_admin_project_menu_path,
                 :class => "add_icon" %>
  </li>
<% if !searching? && ::Refinery::ProjectMenus::Admin::ProjectMenusController.sortable? && ::Refinery::ProjectMenus::ProjectMenu.many? %>
  <li>
    <%= link_to t('.reorder', :what => "Project Menus"),
                 refinery.project_menus_admin_project_menus_path,
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to t('.reorder_done', :what => "Project Menus"),
                 refinery.project_menus_admin_project_menus_path,
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
<% end %>
</ul>
